@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Przepisy";
}

<br />
<div>
    <a class="btn btn-primary" asp-controller="Recipe" asp-action="Add">Dodaj przepis</a>
</div>

<h2>Lista przepisów</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Autor</th>
        <th>Kategoria</th>
        <th>Poziom trudności</th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3">Brak przepisów</td></tr>
    }
    else
    {
        foreach (Recipe recipe in Model)
        {
            <tr>
                <td>@recipe.RecipeID</td>
                <td>@recipe.Name</td>
                @if (recipe.Author == null)
                {
                    <td><p><i>profil skasowany</i></p></td>
                }
                else
                {
                    <td><a asp-controller="Account" asp-action="Details" asp-route-id="@recipe.Author.Id">@recipe.Author</a></td>
                }
                
                <td><a asp-controller="Category" asp-action="AllRecipes" asp-route-id="@recipe.Category.CategoryID">@recipe.Category.Name</a></td>
                <td>@recipe.DifficultyLevel.Name</td>

                <td>
                    <form asp-action="DeleteRecipe" asp-route-id="@recipe.RecipeID" method="post">
                        <a class="btn btn-info" asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeID">Szczegóły</a>
                        <a class="btn btn-success" asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.RecipeID">Edytuj</a>
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>