@model Recipe

@{
    ViewData["Title"] = @ViewBag.recipeName;
}

<div>
    <h2>@Model.Name</h2> ID: @Model.RecipeID
    <h3>kategoria: @Model.CategoryId, trudność wykonania: @Model.DiffLevelId</h3>

    <p>@Model.Body</p>
</div>

<div>
    <h3>Komentarze:</h3>
</div>