@model Recipe

@{
    ViewData["Title"] = @ViewBag.recipeName;
}

<div>
    <h2>@Model.Name</h2> ID: @Model.RecipeID

    <p>@Model.Body</p>
    <p>autor: @Html.DisplayFor(model => model.Author.Email)</p>
</div>

<div>
    <h3>Komentarze:</h3>
</div>