@model PrintVM

@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.IsLogged)
{
    <a asp-controller="Recipe" asp-action="Add" class="btn btn-success">Dodaj przepis</a>
}
else
{
    <p>Zaloguj się aby dodać przepis</p>
}

<h4>przepisy:</h4>

@foreach (var recipe in Model.Recipes)
{
    <div>
        <h2><a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeID">@recipe.Name</a></h2>
        <p>@recipe.Description</p>
        <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.RecipeID" class="btn btn-primary">Zobacz więcej</a>
    </div>
    <br />
    <hr />
}

<h4>kategorie:</h4>

<ul>
    @foreach (var category in Model.Categories)
    {
        <li><a asp-controller="Category" asp-action="AllRecipes" asp-route-id="@category.CategoryID">@category.Name</a></li>
    }
</ul>

<hr />
<h4>pozoimy trudności:</h4>

@foreach (var difflevel in Model.DiffLevels)
{
    <div>
        <h3>@difflevel.Name</h3>
    </div>
}