@model RecipeDetailsVM

@{
    ViewData["Title"] = @Model.Recipe.Name;
}

<div class="col-md-9">
    <div>
        <h2>@Model.Recipe.Name</h2>

        @await Component.InvokeAsync("FavoriteRecipes",
         new { recipeID = Model.Recipe.RecipeID, favoriteRecipeID = Model.FavoriteRecipeID, isAuthor = Model.IsAuthor })

        @if (Model.Recipe.Author == null)
        {
            <p>autor: <i>profil skasowany</i></p>
        }
        else
        {
            <p>autor: <a asp-controller="Account" asp-action="Details" asp-route-id="@Model.Recipe.Author.Id">@Model.Recipe.Author.Email</a></p>
        }

        <p>kategoria: <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.Recipe.Category.CategoryID">@Model.Recipe.Category.Name</a></p>
        <p>stopień trudności: @Model.Recipe.DifficultyLevel.Name</p>
        <p>Opis przepisu: <br />@Model.Recipe.Description</p>
    </div>

    <div>
        <h4>Lista składników</h4>
        <ul>
            @foreach (var ingredient in Model.Recipe.Ingredients)
            {
                <li>@ingredient.Name</li>
            }
        </ul>
    </div>

    <div>
        <h4>Instrukcja wykonania</h4>
        <ol>
            @foreach (var step in Model.Recipe.Steps)
            {
                <li>@step.Description</li>
            }
        </ol>
    </div>

    <div>
        tagi:
        @foreach (var tag in Model.Recipe.Taggings)
        {
            <a asp-controller="Tag" asp-action="Index" class="btn btn-default" asp-route-id="@tag.TagName">@tag.TagName</a>
        }
    </div>

    <div>
        @await Component.InvokeAsync("AddComment", new { recipeID = Model.Recipe.RecipeID })

        <h3>Komentarze:</h3>
        @foreach (var c in Model.Recipe.Comments)
        {
            @if (c.Author == null)
            {
                <h6><i>profil skasowany</i></h6>
            }
            else
            {
                <h6><a asp-controller="Account" asp-action="Details" asp-route-id="@c.Author.Id">@c.Author</a></h6>
            }

            <p>@c.Body</p>
        }
    </div>
</div>

<div class="col-md-3">
    @{string imgpath = Model.Recipe.RecipeID + ".jpg"; }
    <img style="margin-top:5%;width:100%;height:100%;" alt="zdjęcie gotowego dania" src="~/images/recipes/@imgpath" asp-append-version="true">
</div>